<html>
    <head>
        <title>同心医联物资管理系统</title>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
        <link href="http://cdn.bootcss.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/static/css/guang.css"> -->
        <link href="/static/css/datetimepicker.css" rel="stylesheet">
        <!-- 叫网页角标 -->
        <link rel="shortcut icon" type="image/ico" href="/static/img/1.jpg">         

    </head>

    <body style="background-color: #ccc">   
    
       
                        <div class="container-fluid" style="padding-left: 65px;" >
                                <div class="row-fluid">
                                    <div class="span12">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="/gdzc_list?qunaye=" style="font-weight:bold" class="btn btn-info">固定资产</a>
                                            </li>
                                            <li>
                                                <a href="/gdzcly_list" style="font-weight:bold" class="btn btn-info">固资领用信息</a>
                                            </li>
                                            <li>
                                                <a href="/wxjl_list" style="font-weight:bold" class="btn btn-info">维修记录</a>
                                            </li>
                                            <li>
                                                <a href="/fgdzc_list" style="font-weight:bold" class="btn btn-info">非固定资产</a>
                                            </li>
                                            <li>
                                                <a href="/fgdzcly_list" style="font-weight:bold" class="btn btn-info">非固资领用信息</a>
                                            </li>
                                            <li>
                                                <a href="/equipment" style="font-weight:bold" class="btn btn-info">设备信息</a>
                                            </li>
                                            <li>
                                                <a href="/people_list" style="font-weight:bold" class="btn btn-info">公司人员管理</a>
                                            </li>
                                            <li>
                                                <a href="/search" style="font-weight:bold" class="btn btn-info">查询</a>
                                            </li>
                                            <li class="dropdown pull-right">
                                                 <a href="#" data-toggle="dropdown" class="dropdown-toggle" class="btn btn-info">{{.sname}}<strong class="caret"></strong></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="/logout" class="btn btn-info">退出</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li  class="dropdown pull-right">
                                                    <img alt="140x140" src="/static/img/22.jpeg" class="img-circle" style="width: 50px;"/>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

 <table border="0">
         <td>
                               
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               
         </td>
        <td>

        <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr style="background-color:bisque">
                                    <th>
                                        编号
                                    </th>
                                    <th>
                                        资产编码
                                    </th>
                                    <th>
                                        地区
                                    </th>
                                    <th>
                                        资产类型
                                    </th>
                                    <th>
                                        品牌
                                    </th>
                                    <th>
                                        规格/型号
                                    </th>
                                    <th>
                                        配置明细
                                    </th>
                                    <th>
                                        序列号S/N
                                    </th>
                                    <th>
                                        购置时间
                                    </th>
                                    <th>
                                        购买渠道
                                    </th>
                                    <th>
                                        存放地点
                                    </th>
                                    <th>
                                        资产原值(￥)
                                    </th>
                                    <th>
                                        是否使用
                                    </th>
                                    <th>
                                        维修状态
                                    </th>
                                    <th>
                                        折损情况
                                    </th>
                                    <th>
                                        报废期限（年）
                                    </th>
                                    <th>
                                        理论报废日期
                                    </th>
                                    <th>
                                        报废时间差
                                    </th>
                                    <th>
                                        理论报废
                                    </th>
                                    <th>
                                        是否报废
                                    </th>
                                    <th>
                                        报废时间
                                    </th>
                                    <th>
                                        备注
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    {{range .sqll}}
                                    <tr class="warning">
                                            <td>{{.IDgdzc}}</td>
                                            <td>{{.Zcbm}}</td>
                                            <td>{{.Place}}</td>
                                            <td>{{.Zclx}}</td>
                                            <td>{{.Pinpai}}</td>
                                            <td>{{.Xinghao}}</td>
                                            <td>{{.Pzmx}}</td>
                                            <td>{{.Sn}}</td>
                                            <td>{{.Buytime}}</td>                     
                                            <td>{{.Buyqd}}</td>                     
                                            <td>{{.Cfdd}}</td>                     
                                            <td>{{.Zcyz}}</td>                     
                                            <td>{{.Syzt}}</td>                     
                                            <td>{{.Whzt}}</td>                     
                                            <td>{{.Zsqk}}</td>                     
                                            <td>{{.Bfqx}}</td>                     
                                            <td>{{.Llbfrq}}</td>                     
                                            <td>{{.Bfsjc}}</td>                     
                                            <td>{{.Lubf}}</td>                     
                                            <td>{{.Sfbf}}</td>                     
                                            <td>{{.Bftime}}</td>                     
                                            <td>{{.BZ}}</td>                     
                                            <td>
                                                <a href="/delete?deleteid_l={{.IDgdzc}}" class="btn btn-small btn-danger">删除</a>
                                           </td>
                                    </tr>
                                    {{end}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

    </td>
</table>
       <table border="0">
            <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                    <div>
                            <!-- <a href="/first_y?firsty={{.firsty}}" class="btn">第一页</a> -->
                            {{range $a,$b:= .sqlnum}}
                            <a href="/gdzc_list?qunaye={{$b}}" class="btn btn-mini">{{$b}}</a>
                            {{end}}
                        </div>
            </td>
       </table>
        
     
                            <form class="form-horizontal" action="../insert" method="post">
                                <table>
                                    <tr>
                                        <td>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <th>问题描述</th>
                                        <th>问题地点</th>
                                        <th>问题类型</th>
                                        <th>出现次数</th>
                                    
                                        <th>问题备注</th>

                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>

                                        <td>
                                                <div class="input-append date form_datetime">
                                                        <input size="16" type="text" value="{{.starttime}}" name="starttime"  style="width: 130px;height: 30px;">
                                                        <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                        </td>
                                        <td>
                                                <div class="input-append date form_datetime">
                                                        <input size="16" type="text" value="{{.endtime}}" name="endtime"  style="width: 130px;height: 30px;">
                                                        <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                        </td>
                                        <td>
                                               
                                                 <select name="question" style="width: 200px;">
                                                      {{range .question_list}}
                                                      <option value="{{.QuestionList}}">{{.QuestionList}}</option>
                                                      {{end}}
                                                </select>
                                        
                                        </td>
                                        <td>
                                             <select name="place" style="width: 100px;">
                                               
                                                {{range .place_list}}
                                                <option value="{{.PlaceList}}">{{.PlaceList}}</option>
                                                {{end}}
                                            </select>
                                        </td>
                                        <td>
                                                <select name="questiontype" style="width: 100px;">
                                                  
                                                   {{range .questiontype_list}}
                                                   <option value="{{.QuestiontypeList}}">{{.QuestiontypeList}}</option>
                                                   {{end}}
                                               </select>
                                        </td>
                                        <td>
                                                <select name="count" style="width: 100px;">
                                                  
                                                   {{range .count_list}}
                                                   <option value="{{.CountList}}">{{.CountList}}</option>
                                                   {{end}}
                                               </select>
                                        </td>
                                      
                                        <td>
                                            <input type="text" name="note" style="height: 30px;">
                                        </td>
                                        <td>
                                                &nbsp;
                                        </td>
                                        <td>
                                                <button type="submit" class="btn btn-small btn-success">确认</button>
                                        </td>
                                    </tr>
                               
                                   
                                    

                                    

                                </table>
                   
                            </form>
         
       
                                          
                           
        


        <script>
            $(".form_datetime").datetimepicker({
                linkFormat: "yyyy-mm-dd hh:ii",
                autoclose: true,
                todayBtn: true,
                pickerPosition: "bottom-left"
            });
        </script> 
    </body>
</html>
