<html>
    <head>
        <title>同心医联物资管理系统</title>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
        <link href="http://cdn.bootcss.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/static/css/guang.css"> -->
        <link href="/static/css/datetimepicker.css" rel="stylesheet">
        <!-- 叫网页角标 -->
        <link rel="shortcut icon" type="image/ico" href="/static/img/1.jpg">         

    </head>

    <body style="background-color: #ccc">   
    
        <form class="form-horizontal" action="../update_gdzc" method="post">
            <table>
                <tr style="font-weight:bold" >
                    <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                        <th>
                            资产编码
                        </th>
                        <th>
                            地区
                        </th>
                        <th>
                            资产类型
                        </th>
                        <th>
                            品牌
                        </th>
                        <th>
                            规格/型号
                        </th>
                        <th>
                            配置明细
                        </th>
                        <th>
                            序列号S/N
                        </th>
                        <th>
                            购置时间
                        </th>
                        <th>
                            购买渠道
                        </th>
                        <th>
                            存放地点
                        </th>
                        <th>
                            资产原值(￥)
                        </th>
                        <th>
                            是否使用
                        </th>
                        <th>
                            维修状态
                        </th>
                        <th>
                            折损情况
                        </th>
                        <th>
                            报废期限（年）
                        </th>
                        <th>
                            是否报废
                        </th>
                        <th>
                            报废时间
                        </th>
                        <th>
                            备注
                        </th>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    {{range .updategdzcsql}}
                    <td>
                        <input type="text" style="width: 100px;height: 30px;" value="{{.Zcbm}}"  name="zcbm">
                        <!-- <input type="hidden" value="{{.Zcbm}}"  name="zcbm2"> -->
                        <div>
                            <input type="hidden" value="{{.IDgdzc}}"  name="id">
                        </div>
                    </td>
                    <td>
                        <input type="text" style="width: 50px;height: 30px;" value="{{.Place}}" name="place">
                        <!-- <input type="hidden" value="{{.Place}}" name="place2"> -->
                    </td>
                    <td>
                        <input type="text" style="width: 100px;height: 30px;" value="{{.Zclx}}"  name="zclx">
                        <!-- <input type="hidden" value="{{.Zclx}}"  name="zclx2"> -->
                    </td>
                    <td>
                        <input type="text" style="width: 70px;height: 30px;" value="{{.Pinpai}}" name="pinpai">
                        <!-- <input type="hidden" value="{{.Pinpai}}" name="pinpai2"> -->
                    </td>
                    <td>
                        <input type="text" style="width: 100px;height: 30px;" value="{{.Xinghao}}"  name="ggxh">
                        <!-- <input type="hidden" value="{{.Xinghao}}"  name="ggxh2"> -->
                    </td>
                    <td>
                        <input type="text" style="width: 100px;height: 30px;" value="{{.Pzmx}}" name="pzmx">
                        <!-- <input type="hidden" value="{{.Pzmx}}" name="pzmx2"> -->
                    </td>
                    <td>
                        <input type="text" style="width: 120px;height: 30px;" value="{{.Sn}}" name="sn">
                        <!-- <input type="hidden" value="{{.Sn}}" name="sn2"> -->
                    </td>
                    <td>
                        
                            <input type="date" id="myDate"  style="width: 170px;height: 30px;"  name="gzsj">
                      
                        <div>
                            <a href="#">{{.Buytime}}</a>
                            <input type="hidden" style="width: 170px;height: 30px;" value="{{.Buytime}}" name="gzsj2">
                         </div>
                    </td>
                    <td>
                        <input type="text" style="width: 80px;height: 30px;" value="{{.Buyqd}}"  name="gmqd">
                        <!-- <input type="hidden" value="{{.Buyqd}}"  name="gmqd2"> -->
                    </td>
                    <td>
                            <input type="text" style="width: 70px;height: 30px;" value="{{.Cfdd}}" name="cfdd">
                            <!-- <input type="hidden" value="{{.Cfdd}}" name="cfdd2"> -->
                    </td>
                    <td>
                            <input type="text" style="width: 80px;height: 30px;" value="{{.Zcyz}}"  name="zcyz">
                            <!-- <input type="hidden" value="{{.Zcyz}}"  name="zcyz2"> -->
                    </td>
                    <td>
                            <input type="text" style="width: 70px;height: 30px;" name="sfsy"  value="{{.Syzt}}" >
                              
                    </td>
                    <td>
                            <input type="text"  style="width: 100px;height: 30px;" name="wxzt"  value="{{.Whzt}}" >
                            
                    </td>
                    <td>
                            <input type="text" style="width: 100px;height: 30px;" value="{{.Zsqk}}" name="zsqk">
                            <!-- <input type="hidden" value="{{.Zsqk}}" name="zsqk2"> -->
                    </td>
                    <td>
                            <input type="text" style="width: 100px;height: 30px;"  value="{{.Bfqx}}" name="bfqx">
                            
                    </td>
                    <td>
                        <input type="text" style="width: 130px;height: 30px;" value="{{.Sfbf}}" name="sfbf">
                        <!-- <input type="hidden" value="{{.Sfbf}}" name="sfbf2"> -->
                    </td>
                    <td>
                        <input type="text" style="width: 130px;height: 30px;" value="{{.Bftime}}" name="bftime">
                        <!-- <input type="hidden" value="{{.Bftime}}" name="bftime2"> -->
                    </td>
                    <td>
                            <input type="text" style="width: 130px;height: 30px;" value="{{.BZ}}" name="bz">
                            <!-- <input type="hidden" value="{{.BZ}}" name="bz2"> -->
                    </td>
                    {{end}}
                    <td>
                            &nbsp;
                    </td>
                    <td>
                            <button type="submit" class="btn btn-small btn-warning">修改</button>
                    </td>
                    <td>
                        <a href="/gdzc_list/?qunaye=" class="btn btn-small btn-success">取消</a>
                    </td>
                </tr>
           
               
                

                

            </table>

        </form>
                      
     
    </body>
</html>
