<html>

<head>
    <title>同心医联物资管理系统</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <link href="http://cdn.bootcss.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/css/guang.css"> -->
    <link href="/static/css/datetimepicker.css" rel="stylesheet">
    <!-- 叫网页角标 -->
    <link rel="shortcut icon" type="image/ico" href="/static/img/1.jpg">

</head>

<body style="background-color: #ccc">


    <div class="container-fluid" style="padding-left: 65px;">
        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="/list_gdzc?qunaye=" style="font-weight:bold" class="btn btn-info">固定资产</a>
                    </li>
                    <li>
                        <a href="/list_people" style="font-weight:bold" class="btn btn-info">公司人员管理</a>
                    </li>
                    <li>
                        <a href="/search_people" style="font-weight:bold" class="btn btn-info">查询员工信息</a>
                    </li>
                    <li class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" class="btn btn-info">{{.sname}}
                            <strong class="caret"></strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/logout" class="btn btn-info">退出</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown pull-right">
                        <img alt="140x140" src="/static/img/22.jpeg" class="img-circle" style="width: 50px;" />
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <table border="0">
        <td>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </td>
        <td>

            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr style="background-color:bisque">

                                    <th>
                                        员工姓名
                                    </th>
                                    <th>
                                        员工职位
                                    </th>
                                    <th>
                                        所属部门
                                    </th>
                                    <th>
                                        联系电话
                                    </th>
                                    <th>
                                        &nbsp;&nbsp;
                                    </th>
                                    <th>
                                        &nbsp;&nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <form action="/update_people" method="post">
                                    <tr class="warning">
                                        {{range .peoplesql}}
                                        <td>
                                            <input type="text" style="height:35px" name="name" value="{{.Name}}" >
                                        </td>
                                        <td>
                                            <input type="text" style="height:35px" name="position" value="{{.Position}}">
                                        </td>
                                        <td>
                                            <input type="text" style="height:35px" name="bumen" value="{{.Bumen}}">
                                        </td>
                                        <td>
                                            <input type="text" style="height:35px" name="lxfs" value="{{.Telephone}}">
                                        </td>
                                       <td>
                                           <input type="hidden" name="idpeople" value="{{.IDPeople}}" >
                                       </td>
                                        <td>
                                            <button style="font-weight:bold" class="btn btn-info">修改</button>
                                        </td>
                                        {{end}}
                                    </tr>
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </td>
    </table>

    <!-- </form> -->
</body>

</html>